<html>
  <head>
    <title>Angular 2 Seed</title>

    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="app/styles/site.css">
  </head>
  <body>
    <my-app>Loading...</my-app>

    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/tslib/tslib.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="app/globals.js"></script>
    <script src="node_modules/nopack/client/loader.js"></script>

    <!--<script src="dist/main.bundle.js"></script>-->
  </body>
</html>
